.button-action {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 12px;
  background: rgb(var(--v-theme-chipBg));
  color: rgb(var(--v-theme-chipColor));

  svg path {
    stroke: rgba(169, 55, 244, 1);
  }

  &_no-stroke {
    svg path {
      stroke: transparent;
    }
  }

  &:hover {
    background: rgb(var(--v-theme-actionBg));
  }

  &_disabled {
    color: rgba(98, 97, 135, 1);
    pointer-events: none !important;

    svg path {
      stroke: rgba(98, 97, 135, 1);
      border-color: rgba(38, 37, 62, 1);
    }
  }
}