.custom-modal {

  &__label {
    font-weight: 500;
    font-size: 14px;
    color: rgba(143, 150, 165, 1);
    margin-bottom: 4px;
    display: inline-flex;
    letter-spacing: 0;
  }

  .v-card {
    border-radius: 16px !important;
    background: rgb(var(--v-theme-background));

    &-title {
      color: rgb(var(--v-theme-primary));
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 1;
      padding: 20px;
    }
  }

  .v-card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 6px !important;
  }

  .v-card-actions {
    padding: 12px 20px 20px 20px !important;
    background: rgb(var(--v-theme-background));
  }

  .v-card-text {
    padding-bottom: 0 !important;
  }
}