.side-panel {
  height: 89vh;
  z-index: 999;
  min-width: 500px;
  max-width: 500px;
  border-radius: 16px;
  box-shadow: none;
  margin-left: 6px;
  padding: 6px 20px 20px 20px !important;
  background: rgb(var(--v-theme-background));

  .v-card-title {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .v-card-text {
    padding: 0 !important;
    max-height: 70vh;
    overflow-y: auto;
  }

  .v-card-actions {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px !important;
  }

  .error-message {
    color: #b00020;
    line-height: 12px;
    font-size: 12px;
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    position: relative;
    left: 16px;
    letter-spacing: 0;
  }
}

