.custom-table {
  padding: 0 16px;
  background: rgb(var(--v-theme-background)) !important;
  transition: none !important;

  &__payment {
    color: #109A6A;
    font-weight: 400;
  }

  .v-table__wrapper {
    border-radius: 8px !important;
  }

  tbody {
    background: rgb(var(--v-theme-background));
    border-radius: 8px !important;
  }

  thead {
    background: rgb(var(--v-theme-chipBg));
    color: rgb(var(--v-theme-chipColor));
    border-radius: 8px;
  }

  .cell-link {
    text-decoration: underline;
    transition: opacity 0.15s ease-in;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  th.v-data-table__th {
    background: rgb(var(--v-theme-chipBg)) !important;
    box-shadow: none !important;

    &:first-child {
      border-bottom-left-radius: 8px;
    }
    &:last-child {
      border-bottom-right-radius: 8px;
    }
  }

  td.v-data-table__td {
    &:first-child {
      border-top-left-radius: 8px;
    }
    &:last-child {
      border-top-right-radius: 8px;
    }
  }

  .custom-table__link {
    cursor: pointer;
    transition: opacity 0.15s ease-in;
    border-bottom: 1px solid transparent;

    &:hover {
      opacity: 0.7;
      border-color: #000;
    }
  }

  &-chip {
    height: 32px;
    display: flex;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    width: max-content;

    &__status {
      font-weight: 500;
      font-size: 14px;
      margin-left: 6px;
      letter-spacing: 0;
      position: relative;
      top: -1px;
    }
  }

  &-views {
    display: flex;
    align-items: center;
    font-weight: 400;

    svg path{
      stroke: rgb(var(--v-theme-primary));
    }

    img {
      margin-right: 6px;
    }

    div + div {
      margin-left: 6px;
    }

    &_cross {
      text-decoration: line-through;
    }
  }

  &-ref {
    height: 32px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 0 12px;
    width: max-content;
    transition: all .2s ease;
    background: rgb(var(--v-theme-chipBg));

    &__social {
      margin-right: 6px;
    }

    span {
      display: inline-flex;
      margin-right: 8px;
      font-weight: 500;
    }

    div:last-child {
      margin-right: 4px;
      svg path {
        stroke: rgb(var(--v-theme-primary)) ;
      }
    }

    &:hover {
      background: rgb(var(--v-theme-actionBg));
    }
  }

  th {
    height: 40px !important;
    border: none !important;
  }

  td {
    height: 60px !important;
    border-bottom: 1px solid rgb(var(--v-theme-borderColor)) !important;
    color: rgb(var(--v-theme-primary));
    font-weight: 500;
  }

}

.table-actions {
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(var(--v-theme-background));
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  padding: 0 16px;

  &__label {
    font-family: 'Unbounded', sans-serif;
    font-weight: 500;
    letter-spacing: 2%;
    font-size: 16px;
    color: rgb(var(--v-theme-primary));
  }

  &_admin {
    .table-actions__right {
      display: flex;
      align-items: center;
    }
    .table-actions__left {
      display: flex;
      align-items: center;
    }
    .table-actions__label {
      margin-right: 20px;
    }
    .v-input {
      margin: 0 10px;
    }
  }
}

.empty-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  margin-bottom: 48px;

  @media (max-width: 767px) {
    margin-bottom: 0;
    padding: 15px;
  }

  &__text {
    margin-top: 12px;
    color: rgba(143, 150, 165, 1);
    font-size: 14px;
    line-height: 140%;
    text-align: center;
  }
}

.table-checkbox {
  max-width: 40px;
}