.landing {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgb(var(--v-theme-primary));
  background-color: rgb(var(--v-theme-main));
  padding: 0 8px;

  @media (max-width: 767px) {
    padding: 0 16px;
  }
}

h1, h2 {
  font-family: 'Unbounded', sans-serif;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  color: rgba(17, 17, 17, 1);
  margin-bottom: 20px;

  @media (max-width: 767px) {
    font-size: 28px;
    line-height: 140%;
  }

  span {
    display: block;
  }
}

p {
  line-height: 160%;
  letter-spacing: -0.4px;

  span {
    display: block;
  }
}