.custom-modal {
  .v-card {
    border-radius: 16px !important;

    &-title {
      color: rgba(17, 17, 17, 1);
      font-family: 'Inter Medium', sans-serif;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 1;
      padding: 20px;
    }
  }

  &-actions {
    padding: 20px !important;
  }
}