.landing {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgba(17, 17, 17, 1);
  background: #fff;
  padding: 0 8px;
}

h1, h2 {
  font-family: 'Unbounded', sans-serif;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  color: rgba(17, 17, 17, 1);
  margin-bottom: 20px;

  span {
    display: block;
  }
}

p {
  line-height: 160%;
  letter-spacing: -0.4px;

  span {
    display: block;
  }
}