@use "@/assets/sass/variables.scss" as *;
@use "fonts";
@use "table";
@use "modal";
@use "transition";
@use "pagination";
@use "layout";
@use "graph";
@use "chat";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: rgba(17, 17, 17, 1);
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.custom-container {
  padding-top: 0 !important;
  max-width: 1920px;

  &_none {
    max-width: 100% !important;
    padding: 0;
  }

  &_slicer {
    max-width: 1000px;
  }
}

.container {
  max-width: 1160px;
}

.chat-user {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 9999;
  cursor: pointer;
  transition: opacity .15s ease-in;

  .chat-open {
    &:hover {
      opacity: .7;
    }
  }
}

.chat-user {
  &__badge {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primary-color;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top: 7px;
    right: 7px;
  }
}

.tooltip-content {
  padding: 8px;
  background: rgba(79, 88, 107, 1);
  border-radius: 8px;
  max-width: 300px;
  color: #fff;
  font-size: 12px;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 0, 0, 1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 12px;
  color: #fff;
}