@use "fonts";
@use "table";
@use "modal";
@use "transition";
@use "pagination";
@use "layout";
@use "graph";

$primary-color: #0F0F0F;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: rgba(17, 17, 17, 1);
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.custom-container {
  padding-top: 0 !important;

  &_none {
    max-width: 100% !important;
  }
}

.chat-open {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 9999;
  cursor: pointer;
  transition: opacity .15s ease-in;

  &:hover {
    opacity: .7;
  }
}
